:root {
    --loading-timeout: 2s;
    --loading-frac: calc(var(--loading-timeout) / 4);
}

.loader {
    position: relative;
}

@keyframes loading {
    0% {opacity: 0; transform: scale(1.0);}
    12.5% {opacity: 1; transform: scale(1.3);}
    25% {opacity: 0; transform: scale(1.0);}
}

.loader .hands:before {
    display: block;
    content: '🙌';
    animation: loading var(--loading-timeout) ease-in-out calc(0*var(--loading-frac)) infinite;
}

.loader .hat:before {
    display: block;
    content: '🎉';
    animation: loading var(--loading-timeout) ease-in-out calc(1*var(--loading-frac)) infinite;
}

.loader .confetti:before {
    display: block;
    content: '🎊';
    animation: loading var(--loading-timeout) ease-in-out calc(2*var(--loading-frac)) infinite;
}

.loader .balloon:before {
    display: block;
    content: '🎈';
    animation: loading var(--loading-timeout) ease-in-out calc(3*var(--loading-frac)) infinite;
}

.emoji {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}

.emoji:before {
    opacity: 0;
}


