.terminal-bar {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: #2F3129;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    border-bottom: 2px solid #00ADB5;
}

.terminal-bar-header {
    width: 50%;
    color: #00ADB5;
    font-weight: bolder;
    text-transform: none;
}

.terminal-bar-header:before {
    display: inline-block;
    content: '🎉';
    padding-right: 5px;
}
.terminal-bar-header:after {
    display: inline-block;
    content: '🎉';
    padding-left: 5px;
}

.terminal-bar-buttons {
    width: 50%;
    text-align: right;
    cursor: pointer;
}

.terminal-bar-buttons--inactive {
    opacity: 0.3;
}

.terminal-bar-buttons > div {
    display: inline-block;
    padding: 0 10px;
    font-weight: bolder;
    background-color: white;
    color: #00ADB5;
    margin: 0 10px;
}

.terminal-bar-buttons > div:last-child {
    margin-right: 0;
}

.terminal-bar-run:before {
    display: inline-block;
    content: '🏃 ';
    padding-right: 5px;
}

.terminal-bar-test:before {
    display: inline-block;
    content: '🔬 ';
    padding-right: 5px;
}
